:root {
    --bg-dark: #100821;
    --purple-main: #6b21a8;
    --purple-light: #a855f7;
    --text-white: #ffffff;
    --text-gray: #cbd5e1;
    --glass: rgba(26, 11, 32, 0.05);
    --transition: all 0.3s ease;;
}

*{margin:0;padding:0;box-sizing:border-box;}

body{
    background:var(--bg-dark);
    color:var(--text-white);
    font-family:'Inter',sans-serif;
    overflow-x:hidden;
}

/* ===== Projects Images` ===== */
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

/* NAV */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:linear-gradient(to right,#4c1d95,#1e1b4b);
    position:fixed;
    width:100%;
    z-index:1000;
}

.logo{font-family:'Poppins';font-weight:700;}
.nav-links{display:flex;gap:30px;list-style:none;}
.nav-links a{color:var(--text-gray);text-decoration:none;transition:var(--transition);}
.nav-links a:hover{color:#fff;}

.hire-me-btn{
    background:var(--purple-light);
    color:#000;
    padding:8px 20px;
    border-radius:6px;
    text-decoration:none;
    font-weight:bold;
}

/* HERO */
.hero {
    min-height: 87vh; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 8% 40px; 
    background: radial-gradient(circle at top left, #4c1d95 0%, #0f0720 60%);
}

.hero-text h1{
    font-family:'Poppins';
    font-size:3.5rem;
    margin-bottom:20px;
}

.hero-text p{
    color:var(--purple-light);
    margin-bottom:30px;
}

/* SOCIAL ICONS HERO */
.social-links a {
    font-size: 1.8rem;
    margin-right: 20px;
    color: var(--text-white);
    transition: var(--transition);
    text-decoration: none;
}

.social-links a:hover {
    color: var(--purple-light);
    transform: scale(1.2);
    display: inline-block;
}

.hero-img img{
    width:360px;
    border-radius:20px;
    filter:drop-shadow(0 0 30px rgba(168,85,247,0.4));
}

/* TECH STACK */
.tech-stack{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:50px;
    padding:40px 5%;
    background:var(--bg-dark);
}

.tech-item{
    text-align:center;
    opacity:0.7;
    transition:var(--transition);
}

.tech-item:hover{
    opacity:1;
    transform:scale(1.1);
}

.tech-item i{
    color: #331c52;
    font-size: 1.5rem;
    margin-bottom: 8px;
    display: block;
}

/* SECTIONS */
.section{padding:100px 8%;text-align:center;}
.section-title{font-family:'Poppins';font-size:2.5rem;margin-bottom:50px;}

.cards-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.card{
    background:var(--glass);
    padding:30px;
    border-radius:15px;
    border:1px solid rgba(255,255,255,0.1);
    transition:var(--transition);
}

.card:hover{
    border-color:var(--purple-light);
    transform:translateY(-8px);
}

/* CONTACT */
.contact-section{
    padding:120px 8%;
    text-align:center;
    background:radial-gradient(circle at center,#4c1d95 0%,#0f0720 70%);
}

.contact-container{
    max-width:800px;
    margin:0 auto;
}

.contact-title{
    font-family:'Poppins';
    font-size:3rem;
    margin-bottom:20px;
}

.contact-title span{
    color:var(--purple-light);
}

.contact-desc{
    color:var(--text-gray);
    margin-bottom:40px;
    line-height:1.8;
}

.contact-btn{
    display:inline-flex;
    align-items:center;
    gap:10px;
    padding:15px 40px;
    background:var(--purple-light);
    color:#000;
    border-radius:40px;
    font-weight:bold;
    text-decoration:none;
    transition:var(--transition);
    box-shadow:0 0 25px rgba(168,85,247,0.4);
    margin-bottom:50px;
}

.contact-btn:hover{
    transform:scale(1.05);
    box-shadow:0 0 35px rgba(168,85,247,0.6);
}

/* Social Icon Boxes */
.social-icons-row{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-bottom:50px;
}

.icon-box{
    width:60px;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:12px;
    color:var(--text-gray);
    font-size:1.4rem;
    transition:var(--transition);
    text-decoration:none;
}

.icon-box:hover{
    color:var(--purple-light);
    border-color:var(--purple-light);
    transform:translateY(-5px);
}

/* Footer Line */
.footer-line-box{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
    margin-bottom:20px;
}

.line{
    height:1px;
    width:80px;
    background:rgba(255,255,255,0.2);
}

.footer-name{
    color:var(--purple-light);
    font-family:'Poppins';
    letter-spacing:2px;
}

.copyright{
    color:var(--text-gray);
    font-size:0.9rem;
}
